Repository ArtemLyah/cobra-front, pull requests merged in 2024-01, with the labels that each got.

#22 Added component footer
  .gitignore
  public/index.html
  src/App.tsx
  src/components/footer/footer.css
  src/components/footer/footer.tsx
Labels: component

#23 Pages/create presentation page
  .eslintrc.cjs
  .gitignore
  .idea/.gitignore
  .idea/cobra-front.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  package-lock.json
  package.json
  public/index.html
  src/App.tsx
  src/api/services/users.service.ts
  src/api/services/users.ts
  src/app.css
  src/components/MenuLoggedIn.tsx
  src/components/buttons/scroll-up/back-to-top.css
  src/components/buttons/scroll-up/back-to-top.tsx
  src/components/buttons/signin/signin-btn.component.tsx
  src/components/buttons/signout/signout-btn.component.tsx
  src/components/menu.tsx
  src/context/AuthContext.tsx
  src/hooks/useAuth.ts
  src/hooks/useCookie.ts
  src/hooks/useUser.ts
  src/index.tsx
  src/main.css
  src/pages/AboutPage/AboutPage.css
  src/pages/AboutPage/AboutPage.tsx
  src/pages/FAQPage/FAQPage.css
  src/pages/FAQPage/FAQPage.tsx
  src/pages/HomePage/HomePage.css
  src/pages/HomePage/HomePage.tsx
  src/pages/presentation/presentation.css
  src/pages/presentation/presentation.page.tsx
  src/pages/presentation/slides/contact-us/contact_us.css
  src/pages/presentation/slides/contact-us/contact_us.slide.tsx
  src/pages/presentation/slides/description/description.css
  src/pages/presentation/slides/description/description.slide.tsx
  src/pages/presentation/slides/developers/developer.css
  src/pages/presentation/slides/developers/developers.slide.tsx
  src/pages/presentation/slides/preview/preview.css
  src/pages/presentation/slides/preview/preview.slide.tsx
  src/pages/presentation/slides/targetAudience/targetAudience.css
  src/pages/presentation/slides/targetAudience/targetAudience.slide.tsx
  src/pages/presentation/slides/who-we-are/whoWeAre.css
  src/pages/presentation/slides/who-we-are/whoWeAre.slide.tsx
  src/routes/Routes.tsx
  src/types/user.type.ts
Labels: page

#36 feature/page #13 #27: create user page
  .env.example
  .eslintrc.cjs
  package-lock.json
  package.json
  public/index.html
  src/api/AxiosAdapter.ts
  src/api/dtos/user.update.dto.ts
  src/api/dtos/user.update.password.dto.ts
  src/api/exceptions/ServerException.ts
  src/api/services/users.service.ts
  src/api/types/okMessage.ts
  src/api/types/user.ts
  src/api/urls.ts
  src/components/Menu/Menu.tsx
  src/components/RequireAuth.tsx
  src/config/config.ts
  src/context/AuthContext.tsx
  src/hooks/useAuth.ts
  src/hooks/useCookie.ts
  src/pages/login.page.tsx
  src/pages/registration.page.tsx
  src/pages/styles/form.css
  src/pages/styles/user-page.css
  src/pages/user-profile/tabs/ProfileTab/index.tsx
  src/pages/user-profile/tabs/ProfileTab/profile-card.tsx
  src/pages/user-profile/tabs/ProfileTab/profile-tab.css
  src/pages/user-profile/tabs/RoadmapTab/index.tsx
  src/pages/user-profile/tabs/RoadmapTab/roadmap-list-card.tsx
  src/pages/user-profile/tabs/SettingsTab/change-password-card.tsx
  src/pages/user-profile/tabs/SettingsTab/delete-account-card.tsx
  src/pages/user-profile/tabs/SettingsTab/index.tsx
  src/pages/user-profile/tabs/SettingsTab/settings-tab.css
  src/pages/user-profile/tabs/index.tsx
  src/pages/user-profile/tabs/settings-tab.type.tsx
  src/pages/user-profile/user-profile-preview.tsx
  src/pages/user-profile/user-profile.page.tsx
  src/routes/Routes.tsx
Labels: page, feature

#37 page #30: Create roadmap page
  package-lock.json
  package.json
  src/components/roadmapPage/comment/comment.component.css
  src/components/roadmapPage/comment/comment.component.tsx
  src/pages/roadmap/roadmap.page.tsx
  src/pages/roadmap/slides/description/description.css
  src/pages/roadmap/slides/description/description.tsx
  src/pages/roadmap/slides/description/images/imageRoadmap.png
  src/pages/roadmap/slides/header/header.css
  src/pages/roadmap/slides/header/header.tsx
  src/pages/roadmap/slides/sidebar/sidebar.css
  src/pages/roadmap/slides/sidebar/sidebar.tsx
  src/pages/styles/roadmapPage.css
  src/routes/Routes.tsx
Labels: page

#46 add about page
  src/pages/about.page.tsx
  src/pages/presentation/slides/who-we-are/whoWeAre.slide.tsx
  src/pages/styles/about.css
Labels: page

#45 Pages/create roadmap page
  src/components/homePageComponents/buttons/CreateMapButton.tsx
  src/components/homePageComponents/buttons/ReadMoreButton.tsx
  src/components/homePageComponents/searchSlide/RoadmapList.component.tsx
  src/components/homePageComponents/searchSlide/Searchbar.component.tsx
  src/components/homePageComponents/searchSlide/styles/roadmapListItem.css
  src/components/homePageComponents/searchSlide/styles/searchbarComponent.css
  src/components/homePageComponents/slider/Slider.tsx
  src/components/roadmapPage/comment/comment.component.tsx
  src/pages/homePage/slides/homeInfo/homeInfo.css
  src/pages/homePage/slides/homeInfo/homeInfo.tsx
  src/pages/roadmap/roadmap.page.tsx
  src/pages/roadmap/slides/description/description.css
  src/pages/roadmap/slides/description/description.tsx
  src/pages/roadmap/slides/header/header.css
  src/pages/roadmap/slides/header/header.tsx
  src/pages/roadmap/slides/sidebar/sidebar.css
  src/pages/roadmap/slides/sidebar/sidebar.tsx
Labels: page
